<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/header.js" type="text/javascript" defer></script>
    <script src="/footer.js" type="text/javascript" defer></script>
    <script src="/login_form.js" type="text/javascript" defer></script>
    <title>Log In</title>
</head>
<body>
    <app-header></app-header>
    <app-login-form></app-login-form>
    <app-footer></app-footer>
    <form>
        <input type="text" placeholder="Username" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button id="login">Login</button>
    </form>
</body>
</html>