<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/header.js" type="text/javascript" defer></script>
    <script src="/footer.js" type="text/javascript" defer></script>
    <script src="/signup_form.js" type="text/javascript" defer></script>
    <title>SignUp</title>
</head>
<body>
    <app-header></app-header>
    <app-signup-form></app-signup-form>
    <app-footer></app-footer>
</body>
</html>