<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/user_interfaceheader.js" type="text/javascript" defer></script>
    <script src="/footer.js" type="text/javascript" defer></script>
    <script src="/card.js" type="text/javascript" defer></script>
    <script src="/aside.js" type="text/javascript" defer></script>
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }
        main app-aside {
            flex-basis: 20%;
            margin-right: 5% ;
        }
        main app-display-notes{
            flex-basis: 70%;
            margin-left: 5%;
        }
    </style>
    <title>user_interface</title>
</head>
<body>
    <app-userHeader></app-userHeader>
    <main>
        <app-aside></app-aside>
        <app-display-notes><app-card></app-card></app-display-notes>
    </main>
    <app-footer></app-footer>
    <script>
          
            window.onload = async function() {
                const username = sessionStorage.getItem('username');
                const email = sessionStorage.getItem('email');
            
                if (username && email) {
                    const response = await fetch(`/user_interface/${encodeURIComponent(username)}_${encodeURIComponent(email)}.json`);
                    const data = await response.json();
            
                    console.log(data);
                    // save data in session storage
                    sessionStorage.setItem('userData', JSON.stringify(data));
                } else {
                    console.error('Username or email not found in session storage');
                }
            }
           
    </script>
</body>
</html>