/* body tag */
body{
    margin: 100px;
    background-color: rgb(230, 247, 189);
}
/* h1 tag */
h2{
    text-align: center;
    color: rgb(54, 54, 54);
}
/* .form_container class */
.form_container{
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* lable tag */
label{
     font-size: medium;
}
/* input and select tag */
input, select, textarea{
    padding: 12px 20px ;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid royalblue;
    border-radius: 4px;
    box-sizing: border-box;
}
/* select tag cursor pointer and input tag date cursor*/
select, input[type=date]{
    cursor: pointer;
}

/* button tag */
button{
    padding: 12px 20px;
    margin: 10px 0px;
    border: 1px 2pxsolid royalblue;
    border-radius: 5px;
    color: darkslategray;
    cursor: pointer;
}
/* em tag */
em{
    text-align: center;
    color: darkred;
    font-size: larger;
}

