.grid{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    /* border: solid 1px red; */

}

.invader{
    background-color: purple;
    border-radius: 10px;
}

.shooter{
    background-color: green;
    
}

.laser{
    background-color: yellow;
    
}

.boom{
    background-color: red;
    border-radius: 10px;
}