/* P1 Flex Grow */
/* for class container */
/* .container{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin: auto;
    padding: 20px;
    border-top: 4px solid salmon;
    width: 100%;
    height: 100px;
    display: flex;
}
.red1{
    flex-grow: 1;
    background-color: rgba(238, 14, 14, 0.8);
}
.blue2{
    flex-grow: 1;
    background-color: rgba(110, 145, 240, 0.8);
}
.yellow3{
    flex-grow: 1;
    background-color: rgba(247, 247, 123, 0.8);
}

.pink4{
    flex-grow: 4;
    background-color: rgba(238, 14, 238, 0.8);
}
 */

/* P2 REsposive Flex box */
 /* *{
    box-sizing: border-box;
 }
 .flex-container{
    background: rgb(240, 216, 6);
    display: flex;
    margin: 20px;
    padding: 20px;
    border-left: 4px;
    border-color: tomato;
    border-width: 4px;
    border-style: solid;
    flex-wrap: wrap;
    font-size: 36px;
    text-align: center;
 } 
 .flex_lext{
    background-color: rebeccapurple;
    padding: 10px;
    /* margin: 10px; */
    /* flex: 50%; */
    /* border: 2px solid rgb(0, 0, 0); */
 /* }  
  .flex_right{
    background-color: rgb(153, 51, 119);
    padding: 10px;
    /* margin: 10px; */
    /* flex: 50%;
    border: 2px solid rgb(0, 0, 0);
 }  */

 /* media query resposnsive column layout instead of a two column layout*/

 /* @media(max-width: 700px){
    .flex_lext, .flex_right{
        flex: 100%;
    }
}  */

/*  P3 Flex Container */
/* .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: aqua;
}

.flex-container> div{
    background-color: lightcoral;
    padding: 5px;
    width: 100px;
    height: 150px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
} */


/* P4 Flex Flow Property */
body{
    background-color: #e7e9eb;
}
#mydiv{
    height: 300px;
    background-color: #fffff;

}
.main{
    height: 100px;
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    align-items: center;
    text-align: center;
}
.main div {
    width: 200px;
    height: 300px;
    padding: 5px
}