/**
 * @file style.css
 * @description This CSS file contains styles for an accordion component. The styles are applied to the elements within the .accordion class.
 *
 * CSS Rules:
 * - *: Applies box-sizing: border-box to all elements, sets margin and padding to 0.
 * - body: Sets the font-family, background image, and flexbox properties for the body element.
 * - .accordion: Sets the width, background color, box shadow, and border radius for the accordion container.
 * - .accordion .accordion-title: Sets margin-bottom and text-align for the accordion title.
 * - .accordion .content-container .question: Sets font-size, font-weight, color, cursor, padding, border, and position for the question element.
 * - .accordion .content-container .question::after: Sets content, font-family, font-weight, position, font-size, color, and transition for the question element's pseudo-element.
 * - .accordion .content-container .answer: Sets padding, display, font-size, line-height, width, height, overflow, and transition for the answer element.
 * - .accordion .content-container.active .answer: Sets display and height for the answer element when the container is active.
 * - .accordion .content-container.active .question: Sets font-size and transition for the question element when the container is active.
 * - .accordion .content-container.active .question::after: Sets content, font-size, and transition for the question element's pseudo-element when the container is active.
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: repeating-linear-gradient(45deg, white, white 10px, #f0f0f0 10px, #f0f0f0 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 65%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
 
    padding: 30px;
}

.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;
}

.accordion .content-container .question{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    padding: 15px 0;
    border-bottom: 1px solid #030303;
    position: relative;
    transition: all 0.3s;
}

.accordion .content-container .question::after{
    content: '+';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #333;
    transition: all 0.3s;
}

.accordion .content-container .answer{  
    padding: 15px 0;
    display: none;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

/* Javascript styling link */

.accordion .content-container.active .answer{
    display: block;
    height: auto;
}

.accordion .content-container.active .question{
    font-size: 18px;
    transition: 0.3s;
}

.accordion .content-container.active .question::after{
    content: '-';
    font-size: 30px;
    transition: 0.3s;
}