/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css for the body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #956b6b;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

/* css for the h1 */
h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

.post-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

/* css for user image */
.post-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    display: block;
    float: left;
}

/* css for the user name */
.post-container h2{
    
    margin: 0px 10px;
    color: #000000;
}

/* css write post button */
.post-container button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    font-size: 2em;
}

/* Css write post button  on hover*/
.post-container button:hover {
    opacity: 0.8;
}

/* css for the .post */
.post{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.post textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

 /* css for the .post button */

.post button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    font-size: 2em;
}

.post button:hover {
    opacity: 0.8;
}

/* Css for post-display */
.post-display{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.post-display div{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 2em;
}

/* Css for the like-button */
.like-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    font-size: 2em;
}

/* Css for the like-button on hover */
.like-button:hover {
    opacity: 0.8;
}

/* Css for the like-counter */
.like-counter{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 2em;
}


/* Css for the comment-button */
.comment-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    font-size: 2em;
}

/* css for the .comment-button */
.comment-button:hover {
    opacity: 0.8;
}


/* Css for the comment-counter */
.comment-counter{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 2em;
}

/* css for the share button */
.share-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    font-size: 2em;
}

/* css for the share-button on hover */
.share-button:hover {
    opacity: 0.8;
}

/* css for the share-counter */
.share-counter{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 2em;
}










