.grid{
    width: 400px;
    height: 600px;
    background-image: url("background.png");
    position: relative;
    font-size: 100px;
    text-align: center;
}

.doodler{
    width: 100px;
    height: 111px;
    background-image: url("doodle_jump.png");
    position: absolute;
}

.platform{
    background-image: url("platform.png");
    width: 100px;
    height: 19px;
    position: absolute;
}