


<footer>

    <ul>
        <li><a href="https://www.facebook.com">Facebook</a></li> 
        <li><a href="https://www.twitter.com">Twitter</a></li>
        <li><a href="https://www.instagram.com">Instagram</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    
</footer>
<script type="module" src="../public/css/script.js"></script>

</body>
</html>