

<form action="/search" method="POST">
    <input type="search" placeholder="Name of the Destinations" id="searchInput">
    <div id="searchResults"></div>
    <input type="submit" value="Search">
</form>
